<div class="main-footer text-center">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
                <span>
                    Copyright © 2022 <a href="javascript:void(0)">TimeCommerce</a>.
                    Designed
                    by <a href="https://www.TimeCommerce.com/">TimeCommerce</a> All rights reserved.
                </span>
            </div>
        </div>
    </div>
</div> 