<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow">
    @RenderSection("MetaTags", required: false)
    <link rel="shortcut icon" type="image/x-icon" href="~/theme/assets/images/favicon.png">
    <link rel="stylesheet" href="~/theme/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/assets/css/vendor/font-awesome.css">

    <link rel="stylesheet" href="~/theme/assets/css/style.min.css">
    <link rel="stylesheet" href="~/theme/assets/css/customize.css">
</head>
<body ng-app="TimeCommerceModule" id="SiteController" ng-controller="SiteController">
    <main class="main-wrapper">
        @RenderBody()
    </main>
  
    <script src="~/theme/assets/js/vendor/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
   @await RenderSectionAsync("Scripts",false)
</body>
</html>
